html,  body{
	padding: 0;
	margin: 0;
	vertical-align: top;
}


aside, section#main{
	display: inline-block;
	box-sizing: border-box;
	/* border: 1px solid #000; */
	vertical-align: top;
}

aside{
	width: 300px;
	background-color: #0bbc8d;
	margin: 0;
}
section#main{
	width: calc(100% - 300px - 4px);
	display: inline-block;
	background-color: #0bbc8d;
}


header, footer{
	border: 1px solid #0a0;
	margin: 5px 0;
	background: #0a0;
	opacity: .5;
}

ul {
	list-style: none;
	padding: 0;
	height: 100vh;
}

a {
	text-decoration: none;
    color: white;
    background-color: green;
    display: block;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 150%;
}

a:hover {
	background-color: #80aef7;
	color: black;
}

.product {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.product img {
	width: 100%;
}

.product button {
	width: 80%;
}

.productShop h2, .productShop span {
	display: inline-block;
	width: 50%;
}

.productShop span {
	text-align: right;
}

.productShop img {
	float: left;
	width: 30%;
}

.productShop div {
	float: left;
	width: 70%;
	height: 207px;
}

.productShop button:before {
	content: "";
	display: table;
}

.productShop button:after{
	clear: both;
}
