*,
*:after,
*:before {
    box-sizing: border-box;
}

.clear:before,
.clear:after {
    display: table;
    content: '';
}

.clear:after {
    clear: both;
}

a {
    text-decoration: none;
    color: #425058;
}

a.active, a:hover {
    color: #4ccfe1;
}

button {
    outline: none;
}

body {
    margin: 0;
    color: #425058;
    background-color: #f7f7f7;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#view-cart {
    width: 100%;
    height: 2180px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

#view-cart .cart {
    position: absolute;
    top: 10px;
    min-height: 600px;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
    color: black;
}

#view-cart .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 300%;
    color: #9c9fa4;
}

#view-cart .content {
    padding: 35px 40px;
}

#view-cart .remove {
    font-size: 200%;
    cursor: pointer;
    float: left;
}

#view-cart .remove:hover {
    color: red;
}

#view-cart h1 {
    color: #9c9fa4;
    text-align: center;
}

#view-cart h2 {

}

#view-cart .close:hover {
    color: red;
}

#view-cart img {
    max-width: 180px;
    padding: 0 10px;
    float: left;
}

#view-cart .info {
    float: left;
    width: 700px;
}

#view-cart .title {
    margin-bottom: 75px;
}

#view-cart .title span {
    float: right;
}

#view-cart .price {
    float: left;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #fff3b5;
    padding: 6px 5px;
}

#view-cart .product {
    float: left;
    margin-bottom: 30px;
}

#view-cart .prices {
    font-size: 200%;
}

#view-cart .prices i {
    cursor: pointer;
    margin: 0 20px;
}

#view-cart input {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    top: -5px;
}

#view-cart .quantity {
    float: right;
    margin-right: 20px;
}

#view-cart .allPrice {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

header a {
    font-weight: bold;
}

header i.fa-search {
    cursor: pointer;
}

header i.fa-search:hover {
    color: #4ccfe1;
}

#header-top {
    padding: 35px 0;
}

header #header-top img {
    width: 120px;
}

header #header-left, header #header-right {
    width: calc((100% - 120px) / 2);
}

header #header-left {
    float: left;
    padding: 6px 0;
}

header #header-left nav {
    display: inline-block;
}

header #header-right {
    float: right;
    text-align: right;
}

footer .phone, header #header-right .phone {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #4ccfe1;
    text-align: center;
    color: white;
    font-size: 80%;
}

footer .fa-phone, header #cart, header #header-right .fa-phone, header #header-right .number {
    vertical-align: sub;
}

header #header-right .number, header #header-right .fa-angle-down {
    margin-left: 10px;
}

header #cart {
    display: inline-block;
    width: 22px;
    height: 35px;
    background: url(../img/icon-cart.png) no-repeat;
    color: #4ccfe1;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 90%;
    margin-left: 35px;
    cursor: pointer;
}

header #header-subcategories {
    text-align: center;
    background-color: #425058;
    padding: 5px 0;
    border-radius: 5px;
    margin-bottom: 15px;
}

header #header-subcategories li {
    padding: 5px 0;
}

header #header-subcategories a {
    color: #c4c8ca;
}

header #header-subcategories .active, header #header-subcategories a:hover {
    color: #4ccfe1;
}

section {
    margin-bottom: 50px!important;
}

section .cat {
    display: inline-block;
    width: calc((100% - 11px) / 3);
    height: 333px;
    background-color: #e5e2de;
    border-radius: 10px;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

section .cat:nth-of-type(3n) {
    margin-right: 0;
}

section .cat p {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 30px 0;
    width: 100%;
    font-size: 180%;
}

section .cat img {
    height: 70%;
    max-height: 240px;
    max-width: 300px;
}

section .cat span {
    position: absolute;
    bottom: 25%;
    text-align: center;
    width: 100%;
}

section #categories {
    float: left;
    width: 150px;
    margin-right: 50px;
    position: relative;
}

section #categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section #categories a {
    border-bottom: 1px solid #889095;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 7px;
}

section #categories a.active, section #categories a:hover {
    background-color: #f64873;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 3px;
    position: relative;
    left: -10px;
}

section #content {
    float: left;
    width: 800px;
}

section #content img {
    cursor: pointer;
}

section #content .product {
    position: relative;
    float: left;
    background-color: white;
    width: 188px;
    height: 300px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-right: 16px;
    margin-top: 16px;
    top: -16px;
}

section #content .product .img {
    width: 100%;
    text-align: center;
    display: block;
    height: 200px;
    position: relative;
}

section #content .product .img img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 180px;
    max-height: 200px;
}

section #content .product:nth-of-type(4n) {
    margin-right: 0;
}

section #content .product .info {
    position: absolute;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    height: 100px;
    width: 100%;
}

section #content .product .price {
    color: black;
    font-weight: bold;
    width: 50%;
    float: left;
    position: absolute;
    bottom: 20px;
    margin-top: 10px;
}

section #content .product .price.stock {
    color: #f54873;
    font-size: 90%;
    bottom: 10px;
}

section #content .product .price.stock span {
    color: #bfbfbf;
    text-decoration: line-through;
    font-size: 90%;
}

section #content .product button {
    float: right;
    padding: 5px 10px;
    background-color: #36454d;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

section #content .product .info a {
    font-size: 65%;
    font-weight: bold;
    text-decoration: underline;
}

section #content .product .info a:hover {
    text-decoration: none;
}

section #paginations {
    width: 54%;
    margin: 35px auto;
}

section #paginations a {
    border: 2px solid #ededed;
    border-radius: 5px;
    padding: 5px 7px;
    font-weight: bold;
}

section #paginations .show-all {
    float: right;
}

section #paginations .pagination {
    display: inline-block;
    float: left;
}

section #paginations .pagination a {
    border-radius: 0px;
    float: left;
    border-right: none;
}

section #paginations .pagination a.disable, section #paginations .pagination a.disable:hover {
    color: #cdcdcd;
    background-color: #f7f7f7;
    cursor: default;
}

section #paginations a:hover, section #paginations .pagination a.active {
    color: white;
    background-color: #f54872;
}

section #paginations .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

section #paginations .pagination a:last-child {
    border: 2px solid #ededed;
}

section #paginations .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

section #photo-slider {
    float: left;
    width: 500px;
    margin-right: 50px;
}

section #photo-slider span, section #photo-slider .pagination {
    width: 100%;
    text-align: center;
    display: block;
}

section #photo-slider span {
    height: 500px;
    line-height: 500px;
}

section #photo-slider img.main {
    max-width: 500px;
    max-height: 500px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}

section #photo-slider .pagination {
    text-align: center;
}

section #photo-slider .pagination img {
    float: left;
    max-height: 50px;
    margin: 0 5px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

section #product-info {
    float: left;
    width: 450px;
}

section #product-info .rating i {
    color: #ffd200;
}

section #product-info .rating i:nth-of-type(5) {
    opacity: 0.5;
}

section #product-info .rating span {
    font-size: 90%;
    color: #c1c1c1;
}

section #product-info .price {
    color: black;
    font-size: 120%;
    font-weight: bold;
    margin: 10px 0;
}

section #product-info .price span {
    text-decoration: line-through;
    color: #c1c1c1;
    font-size: 90%;
    font-weight: normal;
    margin-left: 20px;
}

section #product-info .slider {
    border-top: 1px solid #c1c1c1;
    margin-top: 20px;
}

section #product-info .slider a.active, section #product-info .slider a:hover {
    padding-top: 15px;
    display: inline-block;
    font-weight: bold;
    border-top: 1px solid black;
    color: black;
}

section #product-info .slider a {
    margin-right: 10px;
}

section #product-info button {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 7px;
}

section #product-info button.active, section #product-info button:hover {
    border-color: #cc1f4a;
    background-color: #cc1f4a;
    color: #fff;
}

section #product-info button.disable, section #product-info button.disable:hover {
    border-color: #c1c1c1;
    color: #c1c1c1;
    background-color: white;
}

section #product-info .memory {
    border-top: 1px solid #c1c1c1;
}

section #product-info .order-btns {
    margin-top: 30px;
}

section #product-info .memory span {
    font-weight: bold;
    margin: 10px 0;
    display: block;
}

section .feature table {
    width: 100%;
    margin-top: 10px;
}

section .feature table td {
    padding-top: 10px;
}

section .feature table .property {
    color: #acacac;
}

section .feature table .value {
    font-weight: bold;
}

section .shipping p {
    font-weight: bold;
}

footer {
    background-color: #36454d;
    color: #889095;
    padding: 15px 0;
}

footer .sidebar {
    float: left;
    position: relative;
    width: 333px;
}

footer .subsidebar {
    float: left;
    width: 50%;
}

footer h3 {
    color: #4ccfe1;
}

footer a {
    display: inline-block;
    color: #889095;
    border-bottom: 1px solid #889095;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 80%;
}

footer a:hover {
    border: none;
    margin-bottom: 11px;
}

footer .phone {
    color: #36454d;
    background-color: #889095;
}

footer .contact {
    padding-left: 30px;
}

footer .map, footer .phone, footer .email  {
    position: absolute;
    left: 0;
}

footer .submap {
    padding-left: 15px;
    position: relative;
}

footer .subemail {
    clear: both;
    width: 100%;
}

#load {
    position: fixed;
    background-color: #f7f7f7;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.load {
	position: relative;
	width: 370px;
	height:370px;
	margin:auto;
    top: 50%;
    transform: translateY(-50%);
}

.load .wBall {
	position: absolute;
	width: 352px;
	height: 352px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 11.5s infinite;
		-o-animation: orbit 11.5s infinite;
		-ms-animation: orbit 11.5s infinite;
		-webkit-animation: orbit 11.5s infinite;
		-moz-animation: orbit 11.5s infinite;
}

.load .wBall .wInnerBall{
	position: absolute;
	width: 46px;
	height: 46px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 46px;
}

.load #wBall_1 {
	animation-delay: 2.51s;
		-o-animation-delay: 2.51s;
		-ms-animation-delay: 2.51s;
		-webkit-animation-delay: 2.51s;
		-moz-animation-delay: 2.51s;
}

.load #wBall_2 {
	animation-delay: 0.49s;
		-o-animation-delay: 0.49s;
		-ms-animation-delay: 0.49s;
		-webkit-animation-delay: 0.49s;
		-moz-animation-delay: 0.49s;
}


.load #wBall_3 {
	animation-delay: 1.01s;
		-o-animation-delay: 1.01s;
		-ms-animation-delay: 1.01s;
		-webkit-animation-delay: 1.01s;
		-moz-animation-delay: 1.01s;
}

.load #wBall_4 {
	animation-delay: 1.5s;
		-o-animation-delay: 1.5s;
		-ms-animation-delay: 1.5s;
		-webkit-animation-delay: 1.5s;
		-moz-animation-delay: 1.5s;
}

.load #wBall_5 {
	animation-delay: 2.01s;
		-o-animation-delay: 2.01s;
		-ms-animation-delay: 2.01s;
		-webkit-animation-delay: 2.01s;
		-moz-animation-delay: 2.01s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

noscript div {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 20%;
    font-size: 300%;
    z-index: 9999;
}
